$primary-color:#426F61;
$secondary-color:#DD614A;
$white-color: #fff;
$body-color: #F5F2F8;
$light-dark: #8B868E;
$blue-color: #453BBA;
$green-color:#B7BA3B;
$purple-color: #BA3BB5;
$red-color: #BA3B3B;
$black-color: #505050;