@import '../../../variables.scss';
.timer{
    background-color: $primary-color;
    width:fit-content;
    margin:auto;
}

.submit-btn{
    background-color: $secondary-color;
    color:$white-color;
    float:right;
    margin-left:auto;
    font-size: 0.9em;
    padding:8px 20px;
}

.test-window-header{
    border-bottom: 2px solid #dcdcdc;
}


.questions-list{
    display: flex;
    gap:15px 25px;
    flex-wrap: wrap;
    .question{
        width:35px;
        height:35px;
        border:none;
        background-color: #ffffff;
        border-radius: 5px;
        &.done{
            color:$white-color;
            background-color: $primary-color;
        }
        &.missed{
            background-color: $red-color;
            color:$white-color;
        }
        &.current{
            background-color: $secondary-color;
            color:$white-color;
        }
    }
}

.questions-status{
    padding-bottom: 30px;
    border-bottom: 2px solid #dcdcdc;
}
.summery{
    font-size: 0.85rem;
    color:$black-color;
    font-weight: 400;
    margin-bottom: 25px;
}