<p-dialog header="Update Student" [(visible)]="updateModal" [modal]="true" [draggable]="false" styleClass="topic" [resizable]="false">
    <form [formGroup]="profileForm" class="profile-form">
        <div class="row align-items-end px-3 pb-4">
            <label for="usn" class="form-label p-0">USN</label>
            <input pInputText type="text" formControlName="usn" [readonly]="true">
        </div>
        <div class="row align-items-end px-3 pb-4">
            <label for="name" class="form-label p-0">Name</label>
            <input pInputText type="text" formControlName="name">
        </div>
        <div class="row align-items-end px-3 pb-4">
            <label for="q-title" class="form-label p-0">Email</label>
            <input pInputText type="text" formControlName="email">
        </div>
        <div class="row align-items-end px-3 pb-4">
            <label for="q-title" class="form-label p-0">Branch</label>
            <p-dropdown styleClass="w-100 p-0" [options]="branches.slice(1)" optionLabel="branch_name" optionValue="branch_id" formControlName="branch" placeholder="Branch"></p-dropdown>
        </div>
        <div class="row align-items-end px-3 pb-4">
            <label for="q-title" class="form-label p-0">Semester</label>
            <p-dropdown styleClass="w-100 p-0" [options]="semester.slice(1)" formControlName="semester" placeholder="Semester"></p-dropdown>
        </div>
        <div class="row px-3">
            <button class="py-2" label="Update" pButton (click)="updateStudent()"></button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Student Information" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="no-records text-center" *ngIf="topicCount===0 && performanceCount===0">No Data found</div>
    <div class="stat-container" *ngIf="topicCount>0 && performanceCount>0">
        <div class="block pie-chart">
            <h6 class="block-label mb-3">Skill Division</h6>
            <p-chart type="doughnut" [data]="topicScore" [options]="skillsOptions"></p-chart>
        </div>
        <div class="block line-chart">
            <h6 class="block-label mb-4">Performance</h6>
            <p-chart type="line" [data]="performance" [options]="performanceOptions" styleClass="h-100"></p-chart>
        </div>
    </div>
    <div class="row my-4">
        <h5 class="my-3 dashboard-heading">Attended tests</h5>
        <p-table #dt1 [value]="attendedTests" styleClass="mb-5" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name','faculty','date']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Test Name</th>
                    <th>Faculty</th>
                    <th>Date</th>
                    <th>Sections</th>
                    <th>Maximum Score</th>
                    <th>Your Score</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-test>
                <tr>
                    <td>{{test.id}}</td>
                    <td>{{test.test_name}}</td>
                    <td>{{test.name}}</td>
                    <td>{{test.attended_date|date}}</td>
                    <td>{{test.sections}}</td>
                    <td>{{test.marks}}</td>
                    <td>{{test.score}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>
<div class="dashboard-right">
    <div class="dashboard-heading d-flex justify-content-between align-items-center mb-4">
        <h5 class="header m-0">View Students</h5>
        <div class="d-flex gap-2 align-items-center">
            <p-dropdown [style]="{'width':'200px'}" [options]="branches" optionLabel="branch_name" optionValue="branch_id" (onChange)="changeBranch($event)" placeholder="Branch"></p-dropdown>
            <p-dropdown [options]="semester" (onChange)="changeFilter($event)" placeholder="Semester"></p-dropdown>
            <p-dropdown [style]="{'width':'200px'}" [options]="status" (onChange)="approvalStatus($event)" placeholder="Status"></p-dropdown>
            <input type="text" pInputText (input)="searchStudent($event)" placeholder="Search"/>
        </div>
    </div>
    <p-table #table [value]="students" styleClass="mb-5" [rows]="5" [totalRecords]="totalRecords" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [lazy]="true" (onLazyLoad)="paginationHandler($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>USN</th>
                <th>Student Name</th>
                <th>Branch</th>
                <th>Semester</th>
                <th>Change Status</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student let-index="rowIndex">
            <tr>
                <td>{{index+1}}</td>
                <td>{{student.usn}}</td>
                <td>{{student.name}}</td>
                <td>{{student.branch_name}}</td>
                <td>{{student.semester}}</td>
                <td><p-tag styleClass="px-3" role="button" [severity]="student.verified?'danger':'success'" [value]="student.verified?'Deactivate':'Activate'" (click)="changeStatus(student)"></p-tag></td>
                <td class="d-flex gap-2 justify-content-center">
                    <button pButton icon="pi pi-eye" class="btn action-button p-button-success" pTooltip="View" tooltipPosition="left" appendTo="body" (click)="openStudentDetails(student.usn)"></button>
                    <button pButton icon="pi pi-pencil" class="btn action-button" pTooltip="Edit" tooltipPosition="left" appendTo="body" (click)="openEditStudentModal($event,student.usn)"></button>
                    <button pButton icon="pi pi-trash" class="btn action-button p-button-danger" pTooltip="Delete" tooltipPosition="left" appendTo="body" (click)="deleteStudent($event,student.usn)"></button>
                    <p-confirmPopup></p-confirmPopup>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-toast position="bottom-right"> </p-toast>